/* Document css */

body{
background-color: #4187d1;
background-attachment: fixed;
background-repeat: no-repeat;
}


#buscador{
border-radius: 5px;
box-shadow: 2px 2px 2px rgb(148, 142, 142);   
display: block;
background-color:#FFF;
text-align: center;
margin:auto;
margin-top: 5px;
margin-bottom: 5px ;
height: 450px;
width: 300px;
top: 20%;
left: 35%;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: large;
border-width:1px;
border-color: black;
border-style: solid;
padding-top: 10px;
padding-bottom: 40px ;
padding-left:10px ;
padding-right: 10px ;
}


input{
text-align: center;
font-size: small;
width: 250px;
text-transform:uppercase;

}

#BOTAO{
background-color: green;
padding-top: 5px;
padding-bottom: 5px;
padding-right:10px;
padding-left:10px;
background-image: linear-gradient(30deg, #68f574, #4ce3f7);
width:180px;
cursor: pointer;

}

#BOTAO:hover{
background-image: linear-gradient(30deg, #99f1a0, #93eaf5);
padding-top: 7px;
padding-bottom: 7px;
padding-right:12px;
padding-left:12px;
}

#BOTAO:active{
    background-image: linear-gradient(30deg, #59615a, #667273);
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right:12px;
    padding-left:12px;
    }

#versao{
text-align:right;
font-size: 10px;
color:gray;

}

/* Estilos do header e da navegação */
#contact {
    max-width: 960px;
    margin: 0 auto;
    padding: 40px;
}
#about {
    max-width: 960px;
    margin: 0 auto;
    padding: 40px;
}

header nav{
    background-color: #f2f2f2;
    padding: 20px;
    display:flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(148, 142, 142);   

}

nav img{
width: 70px;
height: 70px;
margin-right:10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    text-align: right;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 10px;
}

.nav_mouse:hover{
color:#797777;
padding:11px;
}

.btn {
    display: inline-block;
    padding: 12px 24px;
    background-color:#E89107;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin:2px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(2, 0, 0);   
}

.btn:hover {
    background-color: #e6a53c;
    padding: 13px 25px;
}

.btn:active{
    background-image: linear-gradient(30deg, #59615a, #667273);
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right:24px;
    padding-left:24px;
    }

/* Estilos do footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(2, 0, 0);   

}

/*página tutorial*/
#tutorial{
    margin:10px 5px 10px 5px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;    
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(2, 0, 0);
}
#tutorial li{
    list-style-type: none;
}